@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
}

body {
  user-select: none;
  transition: all;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #252525;
  color: white;
}

#img {
  width: 400px;
  height: auto;
}

#setup {
}

#outlet {
  position: absolute;
  flex: auto;
  height: 100%;
  width: 100%;
  transition: all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#outlet > dev {
  margin: auto;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes fadeIn {
  0% {
    transition: all;
    opacity: 0;
  }

  100% {
    transition: all;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.speaker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 10rem;
  height: 7.7rem;
}

.vlCtrl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  height: 2.7rem;
  width: 28rem;
}

svg,
path {
  user-select: none;
}

#ctrlCirce {
  cursor: default;
}

.volElem {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
